.accordion-container{
	position: relative;
	width: auto;
	height: auto;
	margin: 20px auto;
	}
	.accordion-container > h2{
	text-align: center;
	color: rgba(7, 135, 194, 0.568);
	padding-bottom: 5px;
	margin-bottom: 30px;
	}
	.set{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #f5f5f5;
	}
	.set > a{
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	height: 50px;
	text-decoration: none;
	color: #333;
	align-items: center;
	font-size: 2rem;
	background-color: #fff;
	font-weight: 600;
	border-bottom: 2px solid #ddd;
	/* border-top: 2px solid #ddd; */
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;
	}
	.set > a svg{
	position:relative;
	float: right;
	margin-top:4px;
	color: orange;
	}
	.set > a.active{
	background-color: #f5f5f5;

	}
	.set > a:hover{
	text-decoration: none;
	color: inherit;

	}
	.set > a.active svg{
	color: green;
	}
	.content{
	position:relative;
	width: 100%;
	height: auto;
	background-color: #fff;
	display:none;
	}
	.content p{
	padding: 10px 15px;
	margin: 0;
	color: #333;
	}

	.accordion-container .set:first-of-type .open_link {
		border-top: 2px solid #ddd;
	}
